desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$primary = #6A3E3E
$primaryShade = #4B2626
$accent = #D97077

@import 'https://fonts.googleapis.com/css?family=PT+Serif:700|Ubuntu+Condensed|Ubuntu:300,300i,400,400i';

ptserif(size)
    font-size size + 0px
    font-family 'PT Serif', 'Garamond', 'Georgia', serif
    font-weight 700

ubuntu(size, weight = normal, style = normal)
    font-size size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-style style
    font-weight 400
    if weight == light
        font-weight 300
    if weight == bold
        font-weight 700

ubuntucond(size)
    font-size size + 0px
    font-family 'Ubuntu Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 700
