footer
    background $primaryShade
    color #fff
    padding 25px 0 10px
    p
        color #fff
    +mobile()
        padding 15px 0 10px
    .center
        clearfix()
    .col
        float left
        margin-right 40px
        +mobile()
            margin 0
        .marca
            ptserif 20
            text-transform uppercase
            color $accent
            margin 0 0 4px
            line-height 1.1
            +mobile()
                font-size 16px
        .telefones
            margin 0
            font-size 0
            span
                ubuntu 15 bold
                +mobile()
                    font-size 14px
                &:after
                    content '\00b7'
                    margin 0 .5em
                &:last-child:after
                    display none
        .endereco
            ubuntu 14
            p
                margin 0
        .contato
            display inline-block
            background $accent
            padding 7px 40px 7px 15px
            border-radius 4px
            ubuntu 17 bold
            letter-spacing 1px
            position relative
            transition background .3s
            margin-left 40px
            &:after
                content ''
                position absolute
                width 20px
                height 20px
                top 50%
                right 15px
                transform translateY(-50%)
                background $img('seta-botao.png') no-repeat center
            &:hover
                background $primary
        +below($tablet)
            width 100%
            margin 0
            float left
            text-align center
            margin-bottom 10px
            .contato
                margin 0
    .copyright
        display block
        width 100%
        clear left
        float left
        border-top 1px solid #fff
        text-align center
        ubuntu 11
        padding-top 10px
        margin 25px 0 0
        cursor default
        color #fff
        +mobile()
            font-size 9px
            margin-top 10px
        span
            display inline-block
            vertical-align middle
            width 1px
            height 1.2em
            margin -2px .3em 0
            background #fff
        a:hover
            color $accent
        +mobile()
            span
                display block
                width 0
                height 0
                margin 0
                background transparent
