header
    padding 50px 35px
    text-align center
    .logo
        display block
        width 100%
        height 114px
        text-indent -9999px
        background $img('itp.png') no-repeat center
        margin 0 0 50px
    +mobile()
        padding 0
        height 100%
        text-align left
        clearfix()
        .logo
            height 100px
            float left
            width 92px
            margin 0 0 0 5%
            background-size auto 80%
    nav
        display block
        a
            display block
            ubuntucond 16
            color #fff
            padding 3px 5px
            text-transform uppercase
            transition background .3s
            line-height 1
            margin-bottom 10px
            &:hover
            &.active
                background $primaryShade
        +above($mobile)
            display block !important
        +mobile()
            display none
            width 100%
            float left
            margin-top 5px
            background $primaryShade
            padding 5%
            text-align center
            a
                font-size 15px
                margin 5px 0
                &.active
                    color $accent
    .telefones
        ubuntu 20 bold
        color #fff
        line-height 1.3
        margin-top 40px
        span
            display block
        +mobile()
            display none
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        right 5%
        height 100px
        width 25px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 3px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 3px
                background #fff
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +tablet()
        padding 40px 25px
        .logo
            margin-bottom 40px
        .telefones
            font-size 18px
