.wrapper
    .center
        display table
        +tablet()
            width 100%
    .header-wrapper
        width percent(350, desktop-base-width)
        display table-cell
        vertical-align top
        background $primary
        position relative
        &:before
            content ''
            position absolute
            width 2000px
            height 100%
            left -2000px
            top 0
            background $primary
    .content
        width percent(850, desktop-base-width)
        display table-cell
    +mobile()
        .center
            display block
            width 100%
        .header-wrapper
            width 100%
            display block
        .content
            width 100%
            display block

.content
    position relative
    .not-found
        position absolute
        top 50%
        width 100%
        transform translateY(-50%)
        text-align center
        h1
            display inline-block
            border 1px solid $primary
            border-radius 3px
            ubuntu 14 bold
            text-transform uppercase
            color $primary
            padding 10px 20px
        +mobile()
            position relative
            transform none
            top auto
            h1
                margin 80px 0
                font-size 12px
