.artigos-links
    margin-top 15px
    a
        display block
        width 100%
        margin-bottom 10px
        padding 12px 10px
        padding-right 45px
        background #F4D7D9
        color $primaryShade
        ubuntu 15 bold italic
        text-transform uppercase
        position relative
        transition background .3s, color .3s
        &:after
            content ''
            position absolute
            width 24px
            height 24px
            top 50%
            right 10px
            transform translateY(-55%)
            background $img('icone-pdf.png') no-repeat center
            background-size 100% auto
        &:hover
            background $primaryShade
            color #fff
    +mobile()
        margin-top 10px

.pagination
    width 100%
    display block
    padding 0
    margin 15px 0 0
    list-style-type none
    text-align center
    li
        display inline-block
        background $accent
        border-radius 100%
        width 20px
        height 20px
        line-height 20px
        margin 0 3px
        ubuntu 12 bold
        color $primaryShade
        text-align center
        transition background .3s
        &:first-child
        &:last-child
            display none
        &.active
            background $accent !important
            color #fff
        &:hover
            background lighten($accent, 10)
        a
        span
            display block
            width 100%
            height 100%
            text-align center
