.links
.parceiros
    margin-top 15px
    +mobile()
        margin-top 10px
    a
    .parceiro
        display block
        width 100%
        margin-bottom 10px
        padding 12px 10px
        padding-right 45px
        background #F4D7D9
        color $primaryShade
        ubuntu 15 bold italic
        text-transform uppercase
        position relative
    a
        transition background .3s, color .3s
        &:after
            content ''
            position absolute
            width 24px
            height 24px
            top 50%
            right 10px
            transform translateY(-50%)
            background $img('seta-agende.png') no-repeat center
        &:hover
            background $primaryShade
            color #fff
    div.parceiro
        cursor default
